Package: com.sferrini.statusbarip
Name: StatusBarIp
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An iOS tweak that shows your IP address on the status bar.
Maintainer: Simone Ferrini
Author: Simone Ferrini
Section: Tweaks
