Package: com.sferrini.statusbarip
Name: StatusBarIp
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Simone Ferrini
Author: Simone Ferrini
Section: Tweaks
